<!DOCTYPE html>
<html>
<head>
    <title>StackApi</title>
    <style>
        body {
                color: #eee;
                background: #121212;
                font:  sans-serif;
            }


        h1   {color: white;font-size: 500%;}
        h2  {color: red}
        p    {color: red;}
        button { background-color: bisque; font: outline; }

        table, th, td {  border: 1px solid black; border-spacing: 0px; font-size: larger; }
    </style>
</head>

<body style="text-align:center;" id="body">
<script>
    const URL="http://localhost:5000";

    async function main(){
        var url = URL+"/push?data="+ push_data.value;
        const response = await fetch(url);
        var data = await response.json();
        document.getElementById['size'].value="size = "+data['size'];
        var html = '<table style="width:70%"> <tr> <th>index</th> <th>data</th> <th>&nbsp;&nbsp;&nbsp;</th> <th>index</th> <th> data </th>  </tr>';
        for(i in data['data'])
        {
            var reverse=size-i;
            html = html + '  <tr>    <td>'+ i +'</td> <td>'+ data['data'][i] +'</td>  <td></td> <td>'+(size-i)+'</td><td>'+ data['data'][size-i]+'</td>   </tr>'
        }
        html = html + ' </table>'
        document.getElementById['data'].innerHTML=html;
        console.log(data);
    }

    async function push(){
        var url = URL+"/push?data="+push_data.value;
        const response = await fetch(url);
        var data = await response.json();
        document.getElementById("result").value=data+ " " + response.code;
        console.log(data);
        main();
    }

    async function pop(){
        var url = URL+"/pop";
        const response = await fetch(url);
        var data = await response.json();
        document.getElementById("result").value= data + " " + response.code;
        console.log(data);
        main();
    }

    setInterval(main,1000)
</script>

    <h1 style="color:green;">StackApi</h1>
    <p> 
        <!-- Making a text input -->
        <input type="text" id="push_data" placeholder="Push Data">       
        <!-- Button to send data -->
        <button onclick="push()">push</button> 
        <button onclick="pop()"> pop </button> <br><br> 
        <!-- For printing result from server -->
        <p class="result" style="color:green"></p> 
    </p>
    <br> 
    <h3 id="size"> size = {NULL} </h3> 
    <div id="data"> Loading Data<div>
    <br> 
</body>
</html>
